###################
# Eclipse Files
###################
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

###################
# C Files
###################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
#*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

###################
# Code Composer Studio Files
###################

[Rr]elease/*
[Dd]ebug/*
.xdchelp
config/*
.launches/*
.ccsproject
.cproject
.project
.settings/*
utils/*

###################
# OSX Files
###################
.DS_Store
/Debug/
/Release/
targetConfigs/Tiva TM4C123GH6PM.ccxml
targetConfigs/readme.txt
